@charset "UTF-8";
html {
  font-size: 62.5%; }

body, p {
  margin: 0; }

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  background-color: #29bde0; }

.header-left-a {
  width: 2rem;
  height: 2rem;
  margin-left: 1rem;
  cursor: pointer;
  background: url("img/back_icon.png") no-repeat; }

.header-right-a {
  width: 2rem;
  height: 1.7rem;
  margin-right: 1rem;
  cursor: pointer;
  background: url("img/fork.png") no-repeat; }

.header-center-p {
  font-size: 1.8rem;
  color: #fff; }

.cen-cen {
  display: flex;
  align-items: center;
  justify-content: center; }

.cen-between {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.cen-around {
  display: flex;
  align-items: center;
  justify-content: space-around; }

.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center; }

.items-cen {
  display: flex;
  align-items: center; }

.flex-around {
  display: flex;
  justify-content: space-around; }

.fixed-t {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10; }

.fixed {
  position: fixed;
  width: 100%;
  left: 0;
  z-index: 10; }

.fixed-b {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 10; }

.relative {
  position: relative; }

.absolute {
  position: absolute; }

.a-none {
  text-decoration: none; }

.inline-block {
  display: inline-block; }

.block {
  display: block; }

.border-box {
  box-sizing: border-box; }

.clear-bo {
  clear: both; }

.float-right {
  float: right; }

.footer-q {
  background-color: #29bde0; }

.footer-btn-q {
  width: 80%;
  height: 3.5rem;
  margin: 1.5rem 0 1.5rem;
  font-size: 1.8rem;
  border: none;
  outline: none;
  background-color: #fbb435;
  cursor: pointer;
  color: #fff; }

* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

.main {
  padding: 4rem 8%;
  background-color: #F0F0F0;
  transition: transform 0.4s ease; }

/*
    页头
*/
.header {
  height: 3rem;
  background-color: #29bde0; }

.la {
  width: 3rem;
  height: 3rem;
  background: url("../img/BackIcon.png") no-repeat 0.5rem 0.7rem; }

/*
    侧边栏内容
*/
.cb {
  left: -80vw;
  width: 80vw;
  margin-top: 3rem;
  background-color: #fff;
  transition: transform 0.4s ease; }

.cb-gg {
  padding: 0.3rem;
  border-bottom: 1px solid #EAEAEA; }

.cb-gg-p {
  font-size: 1.8rem;
  color: #29bde0;
  margin-left: .3rem; }

.cb-gg-t {
  right: 0;
  margin-right: 1rem; }

input[type="checkbox"]:checked ~ .cb,
input[type="checkbox"]:checked ~ .main {
  transform: translateX(80vw);
  transition: transform 0.4s ease; }

input[type="checkbox"] {
  display: none; }

/*
  内容
*/
.top-box {
  width: 100%;
  height: 5rem;
  background-color: #fff; }

.t-b-p {
  font-size: 1.8rem;
  color: #9a9a9a; }

.t-b-div {
  right: 0;
  width: 2rem;
  height: 3rem;
  background: url("../img/BackIcon.png") no-repeat left -3.5rem; }

/*
    捉鬼游戏
*/
.game {
  height: 4rem;
  margin-top: 1rem;
  font-size: 1.8rem;
  color: #fbb435;
  background-color: #fff;
  border-bottom: 1px solid #fbb435; }

/*
    三个版本 内容
*/
.content {
  margin-bottom: 5rem;
  padding: 1rem 10% 1rem;
  background-color: #fff; }

.con-a {
  width: 100%;
  height: 7rem;
  font-size: 1.8rem;
  color: #fff;
  background-color: #29bde0; }

.con-p {
  height: 3rem;
  font-size: 1.4rem;
  color: #999; }

.con-jt {
  right: 0;
  top: 38%;
  width: 1.7rem;
  height: 3rem;
  background: url("../img/shouye.png") no-repeat left -5.1rem; }

/*
   内容下方的四个小点
*/
.dot {
  width: 4.1rem;
  margin: 0 auto; }

.dot-d,
.dot-c {
  margin: 0.1rem;
  border-radius: 50%; }

.dot-d {
  border: 0.3rem solid #29bde0; }

.dot-c {
  border: 0.3rem solid #F0F0F0; }

/*# sourceMappingURL=task2-1.css.map */
